{
  "bracketSameLine": false,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "embeddedLanguageFormatting": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "quoteProps": "consistent",
  "arrowParens": "always",
  "experimentalTernaries": true,
  "vueIndentScriptAndStyle": false,
  "bracketSpacing": true,
  "proseWrap": "always",
  "singleAttributePerLine": true
}
