@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    --card-height: 100px;
    --card-aspect: 2/3;
    --table-grid-rows: calc(var(--card-height) / 1.5) 1fr
      calc(var(--card-height) * 2) 1fr var(--card-height);
    --landscape-grid-rows: repeat(3, max-content);
    min-width: 320px;
    max-height: 100vh;
    max-height: 100dvh;
    font-family: Rubik, sans-serif;
  }

  *::-webkit-scrollbar {
    width: 0.3rem;
    @apply bg-gray-50/20 dark:bg-gray-700/50 rounded-sm
  }

  *::-webkit-scrollbar-thumb {
    width: 0.3rem;
    @apply bg-gray-400 dark:bg-gray-300 rounded-sm
  }
}

@layer components {
  .card {
    padding: 0;
    border-radius: var(--card-radius);
    border: var(--card-border-w) solid var(--card-border-color);
    height: var(--card-height);
    aspect-ratio: var(--card-aspect);
  }
  
  .card.down {
    background: var(--card-bg-color);
    background-size: cover;
  }
  
  .collection-area {
    --card-height: 45px;
    height: calc(var(--card-height) / 2);
    display: grid;
    padding-left: 0.75rem;
    grid-template-columns: 45% 55%;
    grid-template-rows: repeat(2, minmax(var(--card-height), 1fr));
  }
  
  @media (min-width: 640px) or (max-height: 720px) {
    .collection-area {
      --card-height: 40px;
      height: var(--card-height);
      grid-template-columns: 15% 22% 23% 40%;
      grid-template-rows: minmax(var(--card-height), 1fr);
    }
  }
}

@layer utilities {

  .staged {
    animation: fadeRight 300ms ease-in-out 100ms forwards;
  }
  
}
  
@keyframes fadeRight {
  to {
    translate: 8px 0;
    opacity: 0;
  }
}

@keyframes stamp {
  from {
    opacity: 0;
    scale: 2;
  }

  75% {
    scale: 1.75;
    opacity: 0.25;
  }

  to {
    opacity: 1;
    scale: 1;
    rotate: 360deg;
  }
}